@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display:400,400i&display=swap');

// fonts
$body-font: 'IBM Plex Sans', sans-serif;
$heading-font: 'Playfair Display', sans-serif;

// Sizing
$base-font-size: 1rem;

// Color
$base-color: #333;
$almost-white: #f9f9f9;
$gray: #ddd;
$dark-gray: rgb(128, 128, 128);
$accent: #9c2532;
$pinterest: #bd081c;
$twitter: #1da1f2;
$instagram: #000;
$primary: #f095b0;
$secondary: #6c5b99;
$tertiary: #9cd895;
$fourth: #181f30;

// media
$smartphone: 480px;
$tablet: 768px;
$desktop: 1200px;
