<div class="call-to-action content">

  <div class="action-card">
    <button class="btn bg-disabled">legacy</button>
    <div class="text-item">

      <h2>Go go dans le bendo</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum magni obcaecati consequatur non ex ducimus
        praesentium, ut esse repudiandae similique et inventore odio atque possimus quasi sunt magnam rem ratione?</p>
    </div>
    <button class="btn bg-tertiary">buy $10K</button>
    <div class="action-icons">
      <i class="fas fa-apple-alt"></i>
      <i class="fas fa-poo"></i>
    </div>
  </div>
  <div class="action-card">
    <button class="btn bg-secondary">legacy</button>
    <div class="text-item">

      <h2>dig this boop</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum magni obcaecati consequatur non ex ducimus
        praesentium, ut esse repudiandae similique et inventore odio atque possimus quasi sunt magnam rem ratione?</p>
    </div>
    <button class="btn bg-tertiary">buy $1m</button>
    <div class="action-icons">
      <i class="fas fa-apple-alt"></i>
      <i class="fas fa-poo"></i>
    </div>
  </div class="action-card">
</div>