<div class="card-container">
  <div class="card bg-primary">
    <h4>blabla</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo eaque consequuntur numquam temporibus iste
    </p>
    <a class="link__light" href="/">en savoir plus<i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
  <div class="card bg-secondary">
    <h4>blabla</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo eaque consequuntur numquam temporibus iste
    </p>
    <a class="link__light" href="/">en savoir plus<i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
  <div class="card bg-picture-primary">
    <h4>blabla</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo eaque consequuntur numquam temporibus iste
    </p>
    <a class="link__light" href="/">en savoir plus<i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
  <div class="card large-card__desktop bg-picture-secondary">
    <h4>blabla</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo eaque consequuntur numquam temporibus iste
    </p>
    <a class="link__light" href="/">en savoir plus<i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
  <div class="card large-card__tablet bg-tertiary">
    <h4>blabla</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo eaque consequuntur numquam temporibus iste
    </p>
    <a class="link__light" href="/">en savoir plus<i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
</div>