<section class="details-container content">
  <h2 class="subtitle">A look at the details</h2>
  <div class="details-grid">
    <div class="text-item">
      <h6>blabla</h6>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ullam, odit itaque dolorum officia harum
        porro,
        asperiores suscipit ratione cumque doloribus ducimus omnis perspiciatis quia provident, facere eos earum
        deleniti!
      </p>
    </div>
    <div class="text-item">
      <h6>blabla</h6>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ullam, odit itaque dolorum officia harum
        porro,
        asperiores suscipit ratione cumque doloribus ducimus omnis perspiciatis quia provident, facere eos earum
        deleniti!
      </p>
    </div>
    <div class="text-item">
      <h6>blabla</h6>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ullam, odit itaque dolorum officia harum
        porro,
        asperiores suscipit ratione cumque doloribus ducimus omnis perspiciatis quia provident, facere eos earum
        deleniti!
      </p>
    </div>
    <div class="text-item">
      <h6>blabla</h6>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ullam, odit itaque dolorum officia harum
        porro,
        asperiores suscipit ratione cumque doloribus ducimus omnis perspiciatis quia provident, facere eos earum
        deleniti!
      </p>
    </div>
  </div>
</section>