<footer class="content">

  <div class="footer-grid-item text-item">
    <h6>Get in touch</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, delectus accusamus quia at illo odit odio ex ut
      iste alias beatae aspernatur ratione consequuntur nam non perspiciatis ipsam necessitatibus? Explicabo!</p>
  </div>

  <div class="footer-grid-item text-item email-container">
    <h6>Stay in touch</h6>
    <input type="email" name="email" id="email">
  </div>

  <div class="footer-grid-item appmap">
    <div class="appmap-item">
      <span>blabli</span>
      <ul>
        <li>bla</li>
        <li>bli</li>
        <li>blo</li>
        <li>blu</li>
        <li>bla</li>
      </ul>
    </div>
    <div class="appmap-item">
      <span>blabli</span>
      <ul>
        <li>bla</li>
        <li>bli</li>
        <li>blo</li>
        <li>blu</li>
        <li>bla</li>
      </ul>
    </div>
    <div class="appmap-item">
      <span>blabli</span>
      <ul>
        <li>bla</li>
        <li>bli</li>
        <li>blo</li>
        <li>blu</li>
        <li>bla</li>
      </ul>
    </div>
  </div>
</footer>