<header class="hero">
  <nav class="navigation">
    <img src="src/static/logo.png">
    <h3 class="brand">take</h3>
  </nav>
  <section class="content header-content">
    <h1 class="subtitle">Picture <br> perfect</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam architecto eaque, eos eius debitis mollitia
      aspernatur velit quis?
    </p>
  </section>
</header>