<section class="intro">
  <div class="content">
    <h2 class="subtitle">Let's write some poopidoop</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati neque nihil in perspiciatis, sapiente
      explicabo reprehenderit iusto nostrum qui, modi labore mollitia debitis suscipit beatae accusamus esse nemo
      perferendis optio.
      Dolor soluta, placeat iure culpa, quasi inventore iste praesentium vero facilis similique excepturi, voluptatibus
      laborum atque itaque nam ex modi nulla harum. Tempore, hic ullam enim aliquam reprehenderit nostrum dolores.
      Voluptas corporis ducimus natus hic! Aspernatur alias repellat necessitatibus ducimus natus, cupiditate eos ut,
      aliquid ea debitis ipsum vel fugit placeat eligendi quos assumenda sed obcaecati explicabo corporis laudantium
      neque!
      Ab dignissimos inventore impedit molestiae doloribus soluta nobis unde accusamus at dolore, totam quos velit
      dolorem sint eius fuga dolor ad? Hic, provident. Repellat sapiente ipsa aut earum eveniet amet?
      Cumque animi voluptates veniam harum minus? Distinctio ducimus a minima quis. Omnis distinctio porro optio tenetur
      nisi accusamus, atque qui? Dignissimos dolorum ducimus numquam fugiat corrupti, delectus tempora exercitationem
      impedit.</p>
  </div>
</section>