<section class="more">
  <div class="more-content content">
    <h1>More bullshit behind every pixel.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, in. Fugit, voluptate assumenda error architecto
      quasi porro quae, exercitationem, eos inventore ducimus reprehenderit</p>
    <a class="link__light" href="/">en savoir plus<i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
</section>