<section class="onboard bg-tertiary content">
  <h2 class="subtitle">Reasons to blablibla</h2>
  <div class="text-item">
    <h6>blablabli</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea odio officia eum beatae est consectetur nulla!
      Eveniet earum iste id exercitationem repellat mollitia tenetur atque eaque, ullam quod ratione nostrum?</p>
  </div>
  <div class="text-item">
    <h6>blablabli</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea odio officia eum beatae est consectetur nulla!
      Eveniet earum iste id exercitationem repellat mollitia tenetur atque eaque, ullam quod ratione nostrum?</p>
  </div>
  <div class="text-item">
    <h6>blablabli</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea odio officia eum beatae est consectetur nulla!
      Eveniet earum iste id exercitationem repellat mollitia tenetur atque eaque, ullam quod ratione nostrum?</p>
  </div>
</section>