<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/b57252efbf.js" crossorigin="anonymous"></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
  <div class="wrapper">
    {{> partials/header title=htmlWebpackPlugin.options.title}}
    {{> partials/intro}}
    {{> partials/cards}}
    {{> partials/details}}
    {{> partials/more-details}}
    {{> partials/onboard}}
    {{> partials/call2action}}
    {{> partials/footer}}
  </div>
</body>

</html>