@import '~rfs/scss';
@import './sass/global-reset.scss';
@import './sass/header.scss';
@import './sass/intro.scss';
@import './sass/cards.scss';
@import './sass/details.scss';
@import './sass/more.scss';
@import './sass/onboard.scss';
@import './sass/call2action.scss';
@import './sass/footer.scss';
@import './sass/theme.scss';

body,
html {
  margin: 0;
  padding: 0;
}

html {
  font-size: $base-font-size;
  h1 {
    @include font-size(4rem);
    font-weight: normal;
  }
  h2 {
    @include font-size(3rem);
    font-weight: normal;
  }
  h3 {
    @include font-size(2.25rem);
    font-weight: normal;
  }
  h4 {
    @include font-size(1.875rem);
    font-weight: normal;
  }
  h5 {
    @include font-size(1.5rem);
    font-weight: normal;
  }
  h6 {
    @include font-size(1.25rem);
    font-weight: normal;
  }
}

p {
  @include padding(0.4rem);
  line-height: 1.3rem;
  @media screen and (min-width: $tablet) {
    line-height: 1.6rem;
  }
  @media screen and (min-width: $desktop) {
    line-height: 2rem;
  }
}

body {
  font-size: 0.8rem;
  color: $base-color;
  font-family: $body-font;
  @media screen and (min-width: $tablet) {
    font-size: 1rem;
  }
  @media screen and (min-width: $desktop) {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.content {
  @include padding-left(5rem);
  @include padding-right(5rem);
  @include padding-top(4rem);
  @include padding-bottom(4rem);
  @media screen and (max-width: $tablet) {
    @include padding-left(2rem);
    @include padding-right(2rem);
    @include padding-top(1.5rem);
    @include padding-bottom(1.5rem);
  }
}

.link__light {
  color: $almost-white;
  font-weight: 600;
  i {
    margin-left: 0.5rem;
  }
  &:hover {
    color: $gray;
  }
}
.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-tertiary {
  background-color: $tertiary;
}

.bg-disabled {
  background-color: $gray;
}

.bg-picture-primary {
  background-image: url('static/box-bg.jpg');
  background-size: cover;
  background-position: center;
}

.bg-picture-secondary {
  background-image: url('static/box-bg-lg.jpg');
  background-size: cover;
  background-position: center;
}

.subtitle {
  letter-spacing: 0.15rem;
  margin-bottom: 3rem;
  font-weight: 300;
}

.text-item {
  h2,
  h6 {
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-weight: 300;
  }
  p {
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

.btn {
  color: white;
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.3rem;
  border: none;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    color: $gray;
    opacity: 1;
  }
}
